<mat-grid-list cols="3">
  <mat-grid-tile></mat-grid-tile>

  <!-- Writing markup for login starts -->
  <mat-grid-tile class='login-element'>
      <div class="login-container">

          <div class="login-box-header">
             <img src="assets/images/icons8-customer-64.png">
          </div>
         
          <div class="login-box-body">
            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" novalidate>
     
              <mat-grid-list cols="12" rowHeight="75px">
                  <mat-input-container class="justifier">
                    <input matInput  formControlName="username" placeholder="Username" text="text">
                </mat-input-container>
              </mat-grid-list>
             
              <mat-grid-list cols="12" rowHeight="100px">
                  <mat-input-container class="justifier">
                    <input matInput  formControlName="password" placeholder="Password" text="password">
                </mat-input-container>
              </mat-grid-list>
           
              <button  type="submit" [disabled]="!loginForm.valid" mat-raised-button class="login-button"> 
                  <mat-icon>input</mat-icon> Login
              </button>
              
            </form>
          </div>
          
      </div>
  </mat-grid-tile>
 
  <mat-grid-tile></mat-grid-tile>

</mat-grid-list>