<mat-toolbar color="primary">


  <span>Welcome : {{username}}</span>

  <span class="example-spacer"></span>

  <button mat-button (click)="openDialog()">
    <mat-icon>lock_outline</mat-icon>
  </button>
  <mat-menu #menu="matMenu">


  </mat-menu>

</mat-toolbar>
<mat-card>
  <div class="mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      
       <button mat-button color="primary" (click)="ExportToExcel()">
         Export to Excel
       </button>
      
    </div>

    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="Code">
        <mat-header-cell *matHeaderCellDef>Code</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Code}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="City">
        <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.City}} </mat-cell>
      </ng-container>



      <ng-container matColumnDef="Country">
        <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Country}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns">

      </mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>